@page
@model Adoptex.Pages.DoAdopcji.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-warning">Usuń zwierzę</h2>
<br />
<form method="post">
    <input asp-for="Animal_Info.Id" hidden />
    <div class=" border  backgroundWhite">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Animal_Info.Imie"></label>
            </div>
            <div class="col-5">
                <input asp-for="Animal_Info.Imie" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Animal_Info.Wiek"></label>
            </div>
            <div class="col-5">
                <input asp-for="Animal_Info.Wiek" disabled class="form-control" />
            </div>
            
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Animal_Info.Opis"></label>
            </div>
            <div class="col-5">
                <textarea asp-for="Animal_Info.Opis" rows="5" disabled class="form-control"> </textarea>
            </div>
           
        </div>

        <div class="form-group row">
        </div>
        <div class="form-group row">
        </div>
        <div class="form-group row">

        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Animal_Info.Telefon"></label>
            </div>
            <div class="col-5">
                <input asp-for="Animal_Info.Telefon" disabled class="form-control" />
            </div>
            
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" />

            </div>
        </div>
    </div>
</form>
